*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.header-left h1 {
    font-size: 24px;
    margin: 0;
}
.header-left p {
    font-size: 14px;
    margin: 5px 0 0;
}
.header-right {
    display: flex;
    gap: 20px;
}

.header-right button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1.2px solid blue;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.register-btn {
    background-color: #0c0fbe;
    color: white;
}

.register-btn:hover {
    background-color: #45a049;
}
.cancel-btn {
    background-color: #eef6f7;
    color: rgb(53, 15, 192);
}
.cancel-btn:hover {
    background-color: #eef6f7;
}








.section {
    display: flex;
    padding: 20px;
}
.left-part {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ccc;
}
.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}
.menu-item img {
    margin-right: 10px;
}
.right-part {
    width: 70%;
    padding: 20px;
}
.right-part h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.right-part p {
    font-size: 14px;
    margin-bottom: 20px;
}
.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-group label {
    width: 48%;
}
.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}







.new-section {
    padding: 20px;
}
.new-section h2 {
    font-size: 20px;
    margin-bottom: 20px;
}